<h3>Количество записавшихся - <%= @result_set_users.size %></h3>
<table class="table">
    <% @result_set_users.each do | result | %>
        <tr>
            <td><%= result['name'] %></td>
            <td><%= result['phone'] %></td>
            <td><%= result['datestamp'] %></td>
            <td><%= result['master'] %></td>
            <td><%= result['color'] %></td> 
        </tr>
    <% end %>
</table>