<h3>Количество записавшихся - <%= @result_set_users.size %></h3>
<% @result_set_users.each do | result | %>
<p>Имя: <%= result[0] %>, телефон: <%= result[1] %>, двтв и время: <%= result[2] %> , мастер: <%= result[3] %>, цвет машины: <%= result[4] %></p> 
<% end %>